@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;600;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins";
  font-size: 18px;
}
body{
  background: #002339;

}
.container{
  margin-top: 10rem;
  margin-left: 5rem;
}
 .container h1{
    font-size: 35px;
    font-weight: 500;
    color: white;
 }
 
 .container span{
  font-size: 35px;
  font-weight: 500;
  color: green;
  border-bottom: 4px solid green;
}

.search{
  display: flex;
  align-items: center;
  justify-content: center;
   background: white;
   height: 3.5rem;
   width: 35%;
   margin-top: 1rem;
   border:none;
   outline: none;
   border-radius:6px ;
   color: black;
}

.search input{
  border:none;
  outline: none;
}
.img{
  background-image: url("/images/copy-icon.png");
  height: 2rem;
  width: 2rem;
  background-repeat: no-repeat;
  margin-top: 1rem;
  cursor: pointer;
}
button{
  background: green;
   height: 2.5rem;
   width: 18%;
   margin-top: 1rem;
   border:none;
   outline: none;
   border-radius:6px ; 
   font-size: 15px;
   font-weight: 500;
}
